{
  "printWidth": 120,
  "tabWidth": 2,
  "singleQuote": true,
  "bracketSpacing": false,
  "jsxBracketSameLine": true,
  "semi": true,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "endOfLine": "auto"
}
