#page-body {
    position: absolute;
    top: 53px;
    left: 0;
    right: 0;
    bottom: 0;
}

.tools a {
    color: #000;
    padding: 0 6px;
}

.form-label {
    text-align: right;
}

.display-none {
    display: none;
}