{{!< auth}}
<section class="container-fluid">
    <div class="row">
        <aside class="col-xs-1"></aside>
        <section class="content-main col-xs-10">
            {{#if title}}
                <h1 class="hidden-xs">{{title}}</h1>
            {{/if}}
            <div class="container" id="password-forgot-page">
                <div class="col-sm-6 col-sm-offset-3">
                    <h1>Reset Password</h1>

                    {{#if statusMessage}}
                        <div class="alert {{statusMessage.uiClass}}">{{statusMessage.message}}</div>
                    {{/if}}

                    <form id="registration-form" action="/passwordForgot" method="post">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" class="form-control" name="email" placeholder="Email" />
                        </div>

                        <button type="submit" class="btn btn-warning btn-lg">Reset Password</button>
                    </form>

                    {{> loginRedirectTip}}

                </div>
            </div>
        </section>
        <aside class="col-xs-1"></aside>
    </div>
</section>