<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{{appName}}</title>
    <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/app.css">
</head>
<body>
{{{body}}}
</body>
</html>